.mentions-page .legal-hero {
    background: #172243;
    color: #fb9c08;
    text-align: center;
    padding: 60px 20px;
  }
  .mentions-page h2 {
    color: #fb9c08;
  }
  .mentions-page p {
    color: white;
  }
  